repositories:
  - name: prometheus-community
    url: https://prometheus-community.github.io/helm-charts
  - name: openzipkin
    url: https://openzipkin.github.io/zipkin

releases:
  - name: test-pg
    namespace: app
    chart: ./test-postgres-chart
    createNamespace: true
  - name: muffin-currency
    namespace: app
    chart: ./muffin-currency-chart
    needs:
      - app/test-pg
    createNamespace: false
  - name: muffin-wallet
    namespace: app
    chart: ./muffin-wallet-chart
    createNamespace: false
    needs:
      - app/muffin-currency
  - name: ingress
    namespace: ingress
    chart: ./ingress-chart
    createNamespace: true
  - name: grafana-prometheus
    namespace: monitoring
    chart: prometheus-community/kube-prometheus-stack
    version: 56.0.0
    set:
      - name: "prometheusOperator.enabled"
        value: "false"
      - name: "prometheus.enabled"
        value: "true"
      - name: "prometheus.prometheusSpec.storageSpec.volumeClaimTemplate.spec.accessModes[0]"
        value: "ReadWriteOnce"
      - name: "prometheus.prometheusSpec.storageSpec.volumeClaimTemplate.spec.resources.requests.storage"
        value: "512Gi"
      - name: "prometheus.prometheusSpec.retention"
        value: "30d"
      - name: "grafana.enabled"
        value: "true"
      - name: "grafana.persistence.enabled"
        value: "true"
      - name: "grafana.persistence.size"
        value: "512Mi"
      - name: "grafana.persistence.storageClassName"
        value: "standard"
      - name: "grafana.adminPassword"
        value: "admin"
      - name: "grafana.defaultDashboardsEnabled"
        value: "true"
      - name: "alertmanager.enabled"
        value: "false"
      - name: "kubeStateMetrics.enabled"
        value: "true"
      - name: "nodeExporter.enabled"
        value: "true"
  - name: loki
    namespace: monitoring
    chart: grafana/loki-stack
    version: 2.10.2
    set:
      - name: "loki.image.tag"
        value: "2.9.10"
      - name: "loki.persistence.enabled"
        value: "true"
      - name: "loki.persistence.size"
        value: "512Mi"
      - name: "loki.config.auth_enabled"
        value: "false"
      - name: "prometheus.enabled"
        value: "false"
      - name: "grafana.enabled"
        value: "false"
      - name: "promtail.enabled"
        value: "false"
  - name: zipkin
    namespace: monitoring
    chart: openzipkin/zipkin
    version: 0.3.0
    createNamespace: false
    set:
      - name: "storage.type"
        value: "mem"
      - name: "persistence.enabled"
        value: "true"
      - name: "persistence.size"
        value: "512Mi"
      - name: "persistence.storageClass"
        value: "standard"
  - name: monitoring
    namespace: monitoring
    createNamespace: true
    chart: ./monitoring-chart
    version: 0.1.0