apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.app.applicationConfigVolume}}
data:
  application.yaml: |
    ---
    server:
      port: 8081
    spring:
      application:
        name: muffin-wallet
      datasource:
        url: ${DB_URL}
        username: ${DB_USERNAME}
        password: ${DB_PASSWORD}
    currency:
      service:
        url: http://muffin-currency/rate
    logging:
      file:
        name: /logs/app.log
    management:
      zipkin:
        tracing:
          endpoint: http://zipkin:9411/api/v2/spans
      tracing:
        sampling:
          probability: 1.0
      endpoints:
        web:
          exposure:
            include: health,info,metrics,prometheus 
          base-path: /actuator
      metrics:
        export:
          prometheus:
            enabled: true
            distribution:
        distribution:
          percentiles-histogram:
            http.server.requests: true
      endpoint:
        health:
          probes:
            enabled: true
          show-details: always
        prometheus:
          enabled: true
        metrics:
          enabled: true