apiVersion: opentelemetry.io/v1alpha1
kind: OpenTelemetryCollector
metadata:
  name: {{ .Values.otel.name }}
  labels:
    app.kubernetes.io/name: {{ .Values.otel.name }}
    app.kubernetes.io/component: otel-collector
    app.kubernetes.io/managed-by: helm
spec:
  mode: {{ .Values.mode }}
  replicas: {{ .Values.otel.replicas }}
  image: otel/opentelemetry-collector-contrib:{{ .Values.otel.version }}

  {{- with .Values.otel.resources }}
  resources:
    {{- toYaml . | nindent 4 }}
  {{- end }}

  config: |
    {{- toYaml .Values.otel.config | nindent 4 }}

---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.otel.name }}
  labels:
    app.kubernetes.io/name: {{ .Values.otel.name }}
    app.kubernetes.io/component: otel-collector
    app.kubernetes.io/managed-by: helm
spec:
  type: {{ .Values.otel.service.type }}
  ports:
    {{- range .Values.otel.service.ports }}
    - name: {{ .name }}
      port: {{ .port }}
      targetPort: {{ .targetPort }}
    {{- end }}
  selector:
    app.kubernetes.io/name: {{ .Values.otel.name }}
    app.kubernetes.io/component: otel-collector

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ .Values.otel.name }}
rules:
  - apiGroups: [""]
    resources: ["pods", "namespaces", "nodes"]
    verbs: ["get", "list", "watch"]
  - apiGroups: ["apps"]
    resources: ["replicasets", "deployments"]
    verbs: ["get", "list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ .Values.otel.name }}-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ .Values.otel.name }}
subjects:
  - kind: ServiceAccount
    name: {{ .Values.otel.name }}-collector
    namespace: {{ .Release.Namespace }}

---
apiVersion: opentelemetry.io/v1alpha1
kind: Instrumentation
metadata:
  name: spring-boot-instrumentation
  namespace: app
spec:
  exporter:
    endpoint: "http://otel-collector-collector.monitoring.svc.cluster.local:4317"
  propagators:
    - tracecontext
    - baggage
    - b3
  sampler:
    type: parentbased_traceidratio
    argument: "1.0"
  java:
    env:
      - name: OTEL_METRICS_EXPORTER
        value: otlp
      - name: OTEL_LOGS_EXPORTER
        value: otlp
      - name: OTEL_TRACES_EXPORTER
        value: otlp
      - name: OTEL_INSTRUMENTATION_COMMON_DEFAULT_ENABLED
        value: "true"
      - name: OTEL_INSTRUMENTATION_HTTP_CAPTURE_HTTP_SERVER_HEADERS
        value: ".*"
      - name: OTEL_INSTRUMENTATION_JDBC_ENABLED
        value: "true"