replicaCount: 2

image:
  repository: userviktoriuss/muffin-currency
  pullPolicy: IfNotPresent
  tag: "1.0.0"

service:
  type: ClusterIP
  port: 80
  targetPort: 8080

healthCheck:
  liveness:
    path: /rate?from=PLAIN&to=CHOKOLATE
    initialDelaySeconds: 5
    periodSeconds: 10
  readiness:
    path: /rate?from=PLAIN&to=CHOKOLATE
    initialDelaySeconds: 2
    periodSeconds: 5
